<div class="container">
  <% unless flash.blank? %>
    <% flash.each do |error, msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <h2>Informe seus dados confirmarmos o voto</h2>

  <%= simple_form_for @user, url: create_user_path do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <%= f.input :name, required: true %>

    <%= f.input :email, 
                input_html: { autocomplete: 'email' }, 
                required: true %>

    <%= f.button :submit, "Confirmar", class: "btn btn btn-success btn-lg" %>
  <% end %>
<div>