<div class="container">
  <h2>Informe seus dados para computarmos os votos</h2>

  <%= simple_form_for @user, url: create_user_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, required: true %>

    <%= f.input :email, 
                input_html: { autocomplete: 'email' }, 
                required: true %>

    <%= f.button :submit, "Cadastrar Usuário", class: "btn btn-primary btn-lg" %>
  <% end %>
<div>